@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-item.botonRegistro {
	padding: 16px 8px;
	background-color: black;
	border: none;
}

a {
	font-family: Poppins;
}



.contenedor-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border: 1px solid #D9D9D9;
    min-width: 800px;
    height: 1100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px 5px; 
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
    width: 100%; 
    max-width: 400px;
}

.icon-container {
    margin-bottom: 20px; 
}

.form-group {
    text-align: left;
    width: 100%;
    margin: 5px 0;
}


.form-group input {
	
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 8px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    width: 100%;
    max-width: 1200px;
}

.boton-Reg {
	background-color: black;
	border-radius: 8px;
	color: white;
	padding: 7px 60px;
	border: none;
	margin: 30px 0px;
	width: 100%;
}

.part-final {
	background-color: #2C2C2C;
	width: 100%;
	height: 200px; 
	margin: 50px 0px 0px 0px;
	
}

.part-final p {
	color: white;
}

.boton-Reg:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}
.boton-Reg:not(:disabled) {
  background-color: black;
  color: white;
  cursor: pointer;
}



