/* Reset de estilos y configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación personalizada */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

body {
    padding-top: 120px; /* Asegura que el contenido no quede detrás de la barra de navegación */
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.nav-link svg {
    fill: white;
    transition: fill 0.3s;
}

.nav-link svg:hover {
    fill: #ddd;
}
