* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenedorProductos {
    background-color: #2C2C2C;
}

span {
    color: white;
}

.botonProducto {
    background-color: #f38585;
    border: none;
    cursor: pointer;
    color: white;
}

.botonProducto:hover {
    background-color: #d36f6f;
}

.hacerOrden {
    background-color: black;
    color: white;
}

.hacerOrden:hover {
    background-color: #2C2C2C;
    color: white;
}
.part-final {
	background-color: #2C2C2C;
	width: 100%;
	height: 200px; 
	margin: 50px 0px 0px 0px;
	
}

.part-final p {
	color: white;
}
