* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    margin: 130px 0;
    position: relative;
}
div.card{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 30px 0;
}
.card button{
    max-width: 150px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.card img{
    width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 15px;
}
img.pfp{
    min-width: 300px;
    max-width: 350px;
    width: 70vw;
}
section.column{
    min-width: 50%;
}
a.editIcon{
    position: absolute;
    top: 0;
    left: 0;
}
a.editIcon img {
    position: absolute;
    top: 0;
    right: 1vw;
}
h2.comprasTitle{
    margin-left: 20px;
}
a{
	text-decoration: none;
    color: #fff;
}
button.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #2C2C2C;
    --bs-btn-border-color: #2C2C2C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #171717;
    --bs-btn-hover-border-color: #151515;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #151515;
    --bs-btn-active-border-color: #131313;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2C2C2C;
    --bs-btn-disabled-border-color: #2C2C2C;
}