* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main.container{
    background-color: #f5f5f5;
    border-radius: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid rgba(0,0,0,0.10) 1px;
    max-width: 700px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#registrarSection{
    margin-top: 5vh;
}
form button.btn-submit{
    --bs-btn-color: #fff;
    --bs-btn-bg: #2C2C2C;
    --bs-btn-border-color: #2C2C2C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #171717;
    --bs-btn-hover-border-color: #151515;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #151515;
    --bs-btn-active-border-color: #131313;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2C2C2C;
    --bs-btn-disabled-border-color: #2C2C2C;
    background-color: #2C2C2C;
    border-color: #2C2C2C;
    color: #fff;
}
form button.btn-submit:hover{
    color: #fff;
}
form a{
    color: #2C2C2C;
}
@media (width > 575px){
    main.container{
        box-shadow: 10px 12px 25px -2px rgba(0,0,0,0.40);
        -webkit-box-shadow: 10px 12px 25px -2px rgba(0,0,0,0.40);
        -moz-box-shadow: 10px 12px 25px -2px rgba(0,0,0,0.40);
    }
}