* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    margin-top: 300px;
    margin: 0;
    padding-top: 60px;
    justify-content: center;
    align-items: center;

    background-color: #f4f4f4;
}

.containerForm {
    width: 100%;
    max-width: 750px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    position: relative; /* Asegura el control de superposición */
    z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkbox-group label {
    font-weight: normal;
}

input[type="file"] {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn-submit {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover, .btn-cancel:hover {
    opacity: 0.8;
}
